:root{
  --bg-main:#ffffff;
  --bg-body:white;
  
  --com-heading :black;
  --com-subHeading: gray;

  --com-01-bg: #ff8126;
  --com-01-bg-fadded:#ff80265a;
  --com-01-text: white;
  --com-01-text-switched:#c65403;
  --com-01-hover:#ff80268c;
  --com-01-shadow:#00000026;

  --com-02-bg: #ff8026c1;
  --com-02-bg-fadded:#ff80263c;
  --com-02-text: #ffffff;
  --com-02-text2: #000000;
  --com-02-text-switched:#f17c0f;
  --com-02-hover:#e38833;
  --com-02-shadow:#00000026;

  --com-test:#ffd000;
} 

